<ion-header>
    <ion-toolbar>
        <ion-title>
            Vending Machine Status
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Item List</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <div>
                <mat-table #table [dataSource]="rows" class="mat-elevation-z8">

                    <ng-container matColumnDef="Item">
                        <mat-header-cell *matHeaderCellDef>Item</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Price">
                        <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.price}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Count">
                        <mat-header-cell *matHeaderCellDef>Count</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.count}}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="itemColumns"></mat-header-row>
                    <mat-row *matRowDef="let element; columns: itemColumns;"></mat-row>

                </mat-table>
            </div>
            <ion-button (click)="refreshProducts()">Refresh Products</ion-button>
        </ion-card-content>
    </ion-card>


    <ion-card>


        <mat-table #table [dataSource]="coins" class="mat-elevation-z8">

            <ng-container matColumnDef="Denomination">
                <mat-header-cell *matHeaderCellDef>Denomination</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.denomination}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Value">
                <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.value}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Count">
                <mat-header-cell *matHeaderCellDef>Count</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.count}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="coinColumns"></mat-header-row>
            <mat-row *matRowDef="let element; columns: coinColumns;"></mat-row>

        </mat-table>
        <ion-button (click)="refreshCoins()">Refresh Coins</ion-button>
    </ion-card>


</ion-content>
